.home{
  display:flex;
  flex-direction:column;
  align-items: center;
}

.homeTitle{
  margin-bottom:50px;
}

.addPost{
  width:50%;
}

.addPost h2{
  margin-bottom:20px;
}

.addTitle{
  display:flex;
  flex-direction:column;
  margin-bottom:20px;
}

.addTitle label{
  margin-bottom:10px;
}

.addTitle input{
  padding:10px;
}

.addDescription{
  display:flex;
  flex-direction:column;
}

.addDescription label{
  margin-bottom:10px;
}

.addDescription textarea{
  padding:10px;
}

.submitButton{
  margin-top:15px;
  padding:5px;
}

.posts {
  width:50%;
  margin-top:50px;
}

.postsTitle{
  margin-bottom:20px
}

.post{
  padding:15px;
  margin:20px 0;
  position:relative;
  box-shadow:2px 2px 2px rgba(0,0,0,0.1)
}

.delete{
  position:absolute;
  top:5%;
  right:1%;
  cursor:pointer;
}

.postTitle{
  text-decoration: underline;
  margin-bottom:10px;
}