.home{
  display:flex;
  flex-direction:column;
  align-items: center;
}

.homeTitle{
  margin-bottom:50px;
}

.addPost{
  width:50%;
}

.addPost h2{
  margin-bottom:20px;
}

.addTitle{
  display:flex;
  flex-direction:column;
  margin-bottom:20px;
}

.addTitle label{
  margin-bottom:10px;
}

.addTitle input{
  padding:10px;
}

.addDescription{
  display:flex;
  flex-direction:column;
}

.addDescription label{
  margin-bottom:10px;
}

.addDescription textarea{
  padding:10px;
}

.submitButton{
  margin-top:15px;
  padding:5px;
}

.posts {
  width:50%;
  margin-top:50px;
}

.postsTitle{
  margin-bottom:20px
}

.post{
  padding:15px;
  margin:20px 0;
  position:relative;
  box-shadow:2px 2px 2px rgba(0,0,0,0.1)
}

.delete{
  position:absolute;
  top:5%;
  right:1%;
  cursor:pointer;
}

.postTitle{
  text-decoration: underline;
  margin-bottom:10px;
}

.deleteWarning{
  position: absolute;
  background-color:rgb(255, 96, 96);
  height:100%;
  width:45%;
  right:0;
  top:50px;
  padding:10px;
  display:flex;
  align-items: center;
  color:white;
  font-weight:300
}

.deleteWarning h4{
  font-weight:300;
  letter-spacing: 0px;
}

.deleteButtons{
  display:flex;
  gap:10px;
}

.deleteYes{
  padding:5px 20px;
  border:1px solid white;
  border-radius:10px;
  display:flex;
  align-items: center;
  justify-content: center;
  transition:all .1s ease;
}

.deleteNo{
  padding:5px 20px;
  border:1px solid white;
  border-radius:10px;
  display:flex;
  align-items: center;
  justify-content: center;
  transition:all .1s ease;
}

.deleteYes:hover, .deleteNo:hover{
  background-color:white;
  color:rgb(255, 96, 96);
  cursor:pointer;
}